{% extends 'base.html' %}
{% load user_tags %}
{% load innovation_tags %}
{% block content %}

    {% for innovation in innovation_list %}
        <div class="panel panel-default">
            <div class="panel-heading">
				<div class="row">
					<div class="col-lg-6">
							<h4><a href={% url 'details' id=innovation.id %}>{{ innovation.subject }}</a></h4>
					</div>
					<div class="col-lg-6">
							<button class="btn btn-sm pull-right">{{ innovation.status }}</button>
					</div>
				</div>
            </div>
            <div class="panel-body">
                <p>
                {{ innovation.description }}
				</p>
				{% if innovation.keywords.all %}
					<p>
						<b>Keywords:</b>
						{% for keyword in innovation.keywords.all %}
							{{ keyword.keyword }},
						{% endfor %}
					</p>
				{% endif %}
            </div>
                <div class="panel-footer">
			    {% if request.user|has_group:"administrators" and innovation|is_processing %}
                   <a href="{% url 'update_weights' id=innovation.id %}" class="btn btn-primary">CHANGE WEIGHTS</a>
                {% endif %}
		        </div>
        </div>
    {% endfor %}

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.get_full_path|remove_page_arg }}&page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.get_full_path|remove_page_arg }}&page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}