{% extends 'base.html' %}
{% load user_tags %}
{% block content %}

    {% if request.user|has_group:"committee_members" or request.user|has_group:"administrators" %}
        <a href="/innovations/filtered/?status=blocked">BLOCKED</a> <BR>
        <a href="/innovations/filtered/?status=suspended">SUSPENDED</a> <BR>
        <a href="/innovations/filtered/?status=in_replenishment">IN REPLENISHMENT</a> <BR>
    {% endif %}

    <a href="/innovations/filtered/?status=accepted">ACCEPTED</a> <BR>
    <a href="/innovations/filtered/?status=rejected">REJECTED</a> <BR>
    <a href="/innovations/filtered/?status=voting">IN VOTING</a> <BR>
    <a href="/innovations/filtered/?issuer={{request.user.id}}">MY INNOVATIONS</a> <BR>

{% endblock %}

