{% extends 'base.html' %}
{% load user_tags %}
{% block content %}

    {% for violation in violations %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <a href={% url 'details' id=violation.innovation.id %}>{{ violation.innovation.subject }}</a>
                <div class="btn btn-xs pull-right">{{ innovation.status }}</div>
            </div>
            <div class="panel-body">
                <p><h4>Substantiation of report:</h4>
                {{ violation.substantiation }} </p>
                <details>
                    <p><h4>Description:</h4>
                    {{ violation.innovation.description }} </p>
                    <p><h4>Assumptions:</h4>
                    {{ violation.innovation.assumptions }} </p>
                    <p><h4>Benefits:</h4>
                    {{ violation.innovation.benefits }} </p>
                    <p><h4>Cost:</h4>
                    {{ violation.innovation.costs }} </p>
                </details>
            </div>
            <div class="panel-footer">
                <a href="{% url 'finish_violation_report' %}?action=accept&id={{ violation.id }}">
                    <button type="submit" class="btn btn-danger pull-right">ACCEPT REPORT</button>
                </a>
                <a href="{% url 'finish_violation_report' %}?action=reject&id={{ violation.id }}">
                    <button type="submit" class="btn btn-danger pull-right">REJECT REPORT</button>
                </a>
            </div>

        </div>

    {% endfor %}

{% endblock %}
