{% extends 'base.html' %}
{% load user_tags %}
{% load innovation_tags %}
{% block content %}
<div class="panel panel-default">
			<div class ="panel-heading">
    <h3>Innovations I added: </h3>
            </div>
    <div class ="panel-body">
    {% for innovation in innovations %}
        {% if innovation.status == "blocked" or innovation.status == "rejected" %}
        <div class="panel panel-danger">
						{% endif %}
            {% if innovation.status == "in_replenishment" %}
        <div class="panel panel-warning">
						{% endif %}
            {% if innovation.status == "voting" %}
        <div class="panel panel-info">
						{% endif %}
            {% if innovation.status == "accepted" %}
        <div class="panel panel-success">
						{% endif %}
            {% if innovation.status == "suspended" or innovation.status == "pensding" %}
        <div class="panel panel-default">
						{% endif %}
			<div class ="panel-heading ">
				<a href="../innovation_details/{{innovation.id}}/">{{ innovation.subject }} </a>  <p class="pull-right">Status: {{innovation.status}}</p>
			</div>
			<div class ="panel-body">

                <p>{{ innovation.description }}</p>
			</div>
		</div>

    {% endfor %}
    </div>
</div>

<div class="panel panel-default">
			<div class ="panel-heading">
    <h3>Posts I wrote: </h3>
            </div>
    <div class ="panel-body">
    {% for post in posts %}
        <h3>{{ post.text }}</h3>
        <h3>Added: {{ post.timestamp }}</h3>
        <hr>
    {% endfor %}
    </div>
</div>


<div class="panel panel-default">
			<div class ="panel-heading">
    <h3>Comments I wrote: </h3>
            </div>

    <div class ="panel-body">
    {% for comment in comments %}
        <h3>{{ comment.text }}</h3>
        <h3>Related to post: {{ comment.social_post.id }} <-- HERE WILL BE LINK</h3>
        <hr>
    {% endfor %}
    </div>
</div>


{% endblock %}

