{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load auth_extras %}
{% block content %}
  {% if innovations %}
    <h3>Voting:</h3>
    {% for innovation in innovations %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="{% url "detail" innovation.pk %}">{{ innovation.subject }}</a>
          {% if request.user|has_group:"administrators" %}
            <button type="submit" class="btn btn-danger btn-xs pull-right">Block</button>
          {% endif %}
        </div>
        <div class="panel-body">
          {{ innovation.description }}
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>No active innovations.</p>
  {% endif %}
  {% if suspended %}
    <h3>Suspended:</h3>
    {% for innovation in suspended %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="{% url "detail" innovation.pk %}">{{ innovation.subject }}</a>

          {% if request.user|has_group:"administrators" %}
            <button type="submit" class="btn btn-danger btn-xs pull-right">Block</button>
          {% endif %}
        </div>
        <div class="panel-body">
          {{ innovation.description }}
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}
