{% extends 'base.html' %}
{% load user_tags %}
{% load innovation_tags %}
{% block content %}
    <div class="panel panel-default">
    <div class="panel-heading">
        <h3>Innovations I added: </h3>
    </div>
    <div class="panel-body">
    {% for innovation in request.user.innovations.all %}
        {% if innovation.status == "blocked" or innovation.status == "rejected" %}
            <div class="panel panel-danger">
        {% endif %}
        {% if innovation.status == "in_replenishment" %}
            <div class="panel panel-warning">
        {% endif %}
        {% if innovation.status == "voting" %}
            <div class="panel panel-info">
        {% endif %}
        {% if innovation.status == "accepted" %}
            <div class="panel panel-success">
        {% endif %}
        {% if innovation.status == "suspended" or innovation.status == "pending" %}
            <div class="panel panel-default">
        {% endif %}
    <div class="panel-heading ">
        <a href={% url 'details' id=innovation.id %}>{{ innovation.subject }}</a>
        <p class="pull-right">Status: {{ innovation.status }}</p>
    </div>
    <div class="panel-body">
        <p>{{ innovation.description }}</p>

        {% if innovation.status == "blocked" or innovation.status == "rejected" or innovation.status == "in_replenishment" %}
            <b>Status substantiation:</b> {{ innovation.status_substantiation }}
            {% if innovation.status == "in_replenishment" %}
                <a href="{% url 'edit_innovation' pk=innovation.id %}" class="btn btn-info pull-right">Update innovation</a>
            {% endif %}
        {% endif %}
    </div>
    </div>

    {% endfor %}
</div>
</div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Posts I wrote: </h3>
        </div>
        <div class="panel-body">
            {% for post in request.user.social_posts.all %}
           <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{% url 'single_social_post' pk=post.id %}">See post </a>
                    <p class="pull-right">
                    <small><i>{{ post.timestamp }}</i></small>
                    </p>
                 </div>
                <div class="panel-body">
                    {{ post.text|linebreaksbr }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Comments I wrote in inspirations: </h3>
        </div>

        <div class="panel-body">
            {% for comment in request.user.comments.all %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{% url 'single_social_post' pk=comment.social_post.id %}">See related post </a>
                    <p class="pull-right">
                    <small><i>{{ comment.timestamp }}</i></small>
                    </p>
                 </div>
                <div class="panel-body">
                    {{  comment.text|linebreaksbr }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Comments I wrote in innovations: </h3>
        </div>

        <div class="panel-body">
            {% for innovation_comment in request.user.innovation_comments.all %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href={% url 'details' id=innovation_comment.innovation.id %}>See related innovation</a>
                    <p class="pull-right">
                    <small><i>{{ innovation_comment.timestamp }}</i></small>
                    </p>
                 </div>
                <div class="panel-body">
                    {{  innovation_comment.text|linebreaksbr }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Feedback I gave:</h3>
        </div>
        <div class="panel-body">
            {% for grade in request.user.grades.all %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href={% url 'details' id=grade.innovation.id %}>{{ grade.innovation.subject }}</a>
                 </div>
                <div class="panel-body">
                    I rated this idea at <b> {{ grade.value }} </b>.
                    <p><b>My opinion:</b>

                    {{ grade.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>


{% endblock %}

