{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load user_tags %}
{% load innovation_tags %}
{% block content %}
<h3>Add inspiration:</h3>
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|as_bootstrap }}
    <button type="submit" class="btn btn-primary">Post!</button>
  </form>
</br>
  {% for social_post in social_posts %}
<div class="panel panel-default">
  <div class="panel-heading">{{ social_post.issuer }}
    <p class="pull-right"><small><i>{{ social_post.timestamp }}</i></small></p></div>
  <div class="panel-body"><h4>{{ social_post.text|linebreaksbr }}</h4>
  {% for attachment in social_post.attachments.all %}
      <a href='{{ attachment.file.url }}'>{{ attachment.file }}</a><br>
    {% endfor %}
    </div>
  <div class="panel-footer">
    <h4>Comments:</h4>
        {% for comment in social_post.comments.all %}
<div class="panel panel-default">
  <div class="panel-heading"><h5>{{ comment.issuer }}
    <p class="pull-right"><small><i>{{ comment.timestamp }}</i></small></h5></p></div>
  <div class="panel-body"><h5>{{ comment.text|linebreaksbr }}</h5></div>
</div>
    {% endfor %}
         <form action="{% url "add_comment" social_post.pk %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ comment_form|as_bootstrap }}
      <button type="submit" class="btn btn-primary">Add Comment!</button>
    </form>
  </div>
</div>

  {% endfor %}
  {% if is_paginated %}
    <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                  <a href="/socials/social_posts/?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
              <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
              {% if page_obj.has_next %}
                <a href="/socials/social_posts/?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
            </span>
    </div>
  {% endif %}

{% endblock %}

